body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input[type="text"], input[type="submit"] { 
    
    border:1px solid; 
    padding-left: 5px;
} 

br{
    padding: 5px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

img{
    max-width:100%;
    max-height:100%;
}

#white{
    background-color:aliceblue;
}
.top-buffer { 
   
    border-top: 4px solid black;
    height:160px;
    text-align:center;

}
.nopadding {
   
   padding: 0 !important;
   margin: 0 !important;
}

.borderRight{

    border-right: 4px solid black;
}


#menuleftcontent{
    float: left;


    background-color: #CCCCCC;
}

.blue{
        background-color:aliceblue;
        height:160px;
        color: black;
        font-family: 'Roboto', sans-serif;
}


row{
    height:160px;
}


