body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input[type="text"], input[type="submit"] { 
    
    border:1px solid; 
    padding-left: 5px;
} 

br{
    padding: 5px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

img{
    margin: auto;
}

#white{
    background-color:whitesmoke;
}
.top-buffer { 
    margin-top:20px; 

    height:160px;
    text-align:center;

}

#menuleftcontent{
    float: left;


    background-color: #CCCCCC;
}

.gray{
        background-color:aliceblue;
}


row{
    height:160px;
}


